.listGroup {
  height: 50vh;
  padding: 1vw;
  .appheader {
    font-size: 1.5vw;
  }
  .overViewDark {
    color: ghostwhite;
    font-weight: 400;
    font-size: 1vw;
  }
  .overViewLight {
    color: black;
    font-weight: 400;
    font-size: 1vw;
  }
  .listItemDark {
    outline: none;
    border: 2px solid transparent;
    svg {
      fill: whitesmoke;
    }
    span {
      color: ghostwhite;
      outline-color: transparent;
      outline: none;
      font-size: 1vw;
      font-weight: 400;
      &:focus {
        outline-color: transparent;
        outline: none;
      }
    }
  }
  .listItemLight {
    border-radius: 5px;
    svg {
      fill: black;
    }
    span {
      color: black;
      outline-color: transparent;
      outline: none;
      font-size: 1vw;
      font-weight: 400;
      &:focus {
        outline-color: transparent;
        outline: none;
      }
    }
  }
  .activeDark {
    background: linear-gradient(195deg, #51a481, #236e47);
    border-radius: 5px;
    border: 0px;
  }
  .activeLight {
    span {
      color: #1c1a1aed;
    }
    background: linear-gradient(195deg, #bbe4e9, #5fd4e2e8);
    border-radius: 5px;
  }
}
