.listGroup {
  height: 50em;
  .overviewDark {
    color: ghostwhite;
    font-weight: 200;
  }
  .overviewLight {
    color: black;
    font-weight: 200;
  }
  .listItemDark {
    outline: none;
    border: 2px solid transparent;
    svg {
      fill: whitesmoke;
    }
    span {
      color: ghostwhite;
      outline-color: transparent;
      outline: none;
      &:focus {
        outline-color: transparent;
        outline: none;
      }
    }
  }
  .listItemLight {
    border-radius: 15px;
    svg {
      fill: black;
    }
    span {
      color: black;
      outline-color: transparent;
      outline: none;
      &:focus {
        outline-color: transparent;
        outline: none;
      }
    }
  }
  .activeDark {
    background-color: #0a66403d;
    border: 2px solid #0a6640;
    border-radius: 15px;
  }
  .activeLight {
    span {
      color: #1c1a1aed;
    }
    background: linear-gradient(195deg, #bbe4e9, #5fd4e2e8);
    border-radius: 5px;
  }
}
