.clockContainerLight {
  background-image: url("../../assets/image/watch2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a9dfb5;
  width: 57em;
  border-radius: 10px;
  .showTime {
    // color: #035704;
    color: whitesmoke;
    font-weight: 500;
    font-size: 5em;
  }
}
.clockContainerDark {
  background-image: url("../../assets/image/watch2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81fcca;
  width: 57em;
  border-radius: 10px;
  .showTime {
    color: whitesmoke;
    // color: #035704;
    font-weight: 500;
    font-size: 5em;
  }
}

.clockIcon {
  width: 2em;
  height: 2em;
}
