.clockContainerLight {
  background-image: url("../../assets/image/watch2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a9dfb5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 54vw;
  border-radius: 10px;
}
.clockContainerDark {
  background-image: url("../../assets/image/watch2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81fcca;
  width: 54vw;
  border-radius: 10px;
}
.showTime {
  color: whitesmoke;
  font-weight: 500;
  font-size: 5vw;
}
.showDate {
  font-size: 2vw;
}

.clockIcon {
  width: 2vw;
  height: 2vw;
}
