.bookTitle {
  background-color: #bbe4e9;
  width: 15em;
  height: 20em;
  z-index: 1;
  transition: 1s;
  &:hover {
    transform: translateY(80%);
  }
}
.bookDescription {
  background-color: aliceblue;
  width: 15em;
  height: 20em;
  //   transition: 0.5s;
  //   transform: translate(20px);
  //   &:hover {
  //     transform: translate(100%);
  //     z-index: 2;
  //   }
}
