.taskWidgetLight {
  background-color: #bbe4e9;
  border-radius: 10px;
  width: 27em;
  height: 20em;
  color: #00204a;
  .listHeader {
    background-color: #3469883b;
  }
}
.taskWidgetDark {
  background-color: #80fcc9;
  border-radius: 10px;
  width: 27em;
  height: 20em;
  color: #015804;
  .listHeader {
    background-color: #47e191;
  }
}

.listHeader {
  height: 4em;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  h5 {
    font-weight: 400;
  }
}

.taskContainer {
  height: 16em;
  svg {
    width: 1em;
    height: 1em;
  }
}
